<!DOCTYPE html>
<html>
  <head>
    <title>Sound3asement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="application.css">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="w3-display-container w3-green">
     <a href="/="><%= image_tag 's3img/logoPH.svg', :class => "w3-image", :style => "max-width:50px" %></a>
    <a href="/"class="w3-bar-item w3-button">Home</a>
       <div class="w3-dropdown-hover">
    <button class="w3-button">For Artists</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-deep-purple">
      <a href="#" class="w3-bar-item w3-button">Beats</a>
      <a href="#" class="w3-bar-item w3-button">Melodies</a>
      <a href="#" class="w3-bar-item w3-button">Open Verses</a>
    </div>
  </div>

  <div class="w3-dropdown-hover">
    <button class="w3-button">For Producers</button>
    <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-deep-purple">
      <a href="#" class="w3-bar-item w3-button">Accapellas</a>
      <a href="#" class="w3-bar-item w3-button">Loops</a>
      <a href="#" class="w3-bar-item w3-button">Instrument Kits</a>
    </div>
  </div>

  <h4 class="w3-display-topmiddle w3-bar-item">$ound3asement</h4>

  <div class="w3-display-right">
  <ul style="list-style-type:none;">
  <li><p class= "w3-bar-item w3-button"><%= link_to "Sign In", new_user_session_path %></p></li>
  <li><p class= "w3-bar-item w3-button"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p></li>
  </ul>
    
    
    
     

  
  </div>
 
    
      <%# <a href="#" class="w3-bar-item w3-button w3-display-right">Sign in</a>
      <a href="#" class="w3-bar-item w3-button w3-display-middle">Sign up</a> %>
   </div>

 <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 <%# leave as last lines %>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 
  
    <%= yield %>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert" ) %>
    <% end %>
  </body>
</html>